//
// Components
// --------------------------------------------------
//
// Components are project specific building blocks.


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

//
// Set smooth font rendering.
//

body{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

//
// Animate all links.
//

a {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; // Safari
}

a {
  &:link, &:visited{
    color: $link-color;
  }
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}

//
// Button
//

.btn {
  font-weight: 500;
  i {
    margin-right: .4em;
  }
}

.btn-mina-green {
  @include button-variant(white, $mina-green, $mina-green-dark);
}

.button-field, input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
}

//
// Icons
//

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-size: 46px;
    line-height: 46px;
    margin-left: 0;
}


//
// Label
//
// Thema en type document label

p.label {
  font-weight: 500;
  color: $mina-label-blue !important;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 11.1px;
  span {
    margin-left: .5em;
  }
}

//
// (Text) selection color
//

$selection-color: $mina-blue-light-2;
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}


//
// Background image
//
// Vlaamse overheid background pattern.

body {
  background-color: $mina-bg-light-gray;
  background-image: url('img/background-pattern.png');
}

//
// Lead
//

.lead {
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: 16px;
}

//
// Key value pairs
//

.dl-horizontal dt {
  font-weight: normal;
  text-align: left;
  width: 120px;
  @extend .small;
}

.dl-horizontal dd {
  margin-left: 120px;
  @extend .small;
}

//
// List group
//
// Counter style BS. We don't want rounded corners. But can't set the var to 0
// because we want rounded corners on other elements (form field and buttons).

.list-group {
  .list-group-item {
    padding: 15px 20px;
    &:first-child, &:last-child {
      border-radius: 0;
    }
    &:after{
      display: block;
      clear: both;
      content:"";
    }
  }
}

.list-group-themes {
  @extend .list-group;
  border-top: 5px solid $mina-blue;
  a{
    font-size: 16px;
    font-weight: 500;
    color: $mina-blue-dark;
    &:hover, &:focus {
      color: white;
      background: $mina-blue;
    }
    img {
      @extend .img-circle;
      height: 28px;
      width: 28px;
      margin-right: .5em;
      display: block;
      float: left;
      margin-top: -3px;

    }
    i {
      font-size: 1.4em;
    }
  }
  .list-group-item {
    padding: 15px 20px 15px 17px;
  }
}

.list-group-downloads {
  @extend .list-group;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  .list-group-item:last-child {
    border-bottom: none;
  }
  .list-group-item {
    border-left: 0;
    border-right: 0;
    padding: 15px;
    overflow: auto;
    .icon {
      @extend .col-xs-2;
      color: $mina-blue-dark;
      i:before {
        margin-left: -5px;
      }

    }
    .body {
      @extend .col-xs-10;
      h3 {
        margin-top: 0;
        font-size: 16px;
        color: $mina-blue;
      }
      .btn {
        @extend .pull-right;
        @extend .btn-mina-green;
      }
    }
  }
}


//
// editbar
//
.userrole-anonymous #editbar-wrapper {
    display: none;
}

//
// Spinners
//
#pyproxy_spinner, #ajax-spinner {
    display: none !important;
}

//
// Navigation
//
// The red navigation bars.

//
// Detail mixin
//
// Mixin used in detail views.

@mixin article-block-line-top($color) {
  border-top: 5px solid $color;
  padding: 0 15px 1px 15px;
  background-color: white;
  margin-bottom: 15px;
}


nav section {
  &.search,
  &.filters,
  &.digibib,
  &.prev-next,
  &.archive,
  &.nav-list,
  &.theme-list {
    @include article-block-line-top($mina-red-dark);
    h2 {
      color: $mina-red;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: .75em;
    }
  }
  a:hover, a:active {
    text-decoration: none;
    color: darken($mina-red-dark, 10);
  }
  ul {
    padding: 0;
    list-style-type: none;
    li a {
      color: $vlaanderen-dark-gray;
      padding: 3px;
      display: block;
      &:hover, &:active, &.active {
        background: $mina-red-light-bg;
      }
    }
    li.active a {
      background: $mina-red-light-bg;
    }
  }
  &.search,
  &.filters,
  &.digibib {
    background: $mina-bg-gray;
    label {
      font-weight: normal;
    }
  }
  &.search {
    input[type="text"] {
      width: 100%;
    }
    .input-group {
      margin-bottom: .5em;
    }
  }
  &.prev-next {
    ul {
      li a {
        padding-left: 5px;
      }
      li a:before {
        font-family: 'FontAwesome';
        //font-size: 15px;
        color: white;
        margin-left: -17px;
        float: left;
      }
      li.prev a {
        border-left: 18px solid $mina-red-light;
        &:before {
          content: "\f104";
        }
      }
      li.next a {
        border-left: 18px solid $mina-red;
        &:before {
          content: "\f105";
        }
      }
    }
  }
  &.archive,
  &.theme-list,
  &.nav-list {
    li a:before {
      font-family: 'FontAwesome';
      color: lighten($mina-red-light, 15);
      float: left;
      content: "\f138";
      margin-right: 7px;
      margin-bottom: 2px;
    }
    li a:hover:before, li.active a:before {
        color: $mina-red;
    }
  }
}


#faceted-form{
  .faceted-widget{
    border-top: 5px solid $mina-red-dark;
    padding: 0.75em 15px 10px 15px;
    margin-bottom: 15px;
    background: $mina-bg-gray;
    .widget-fieldset{
      margin: 0;
      padding: 0;
      border: 0;
      legend{
        color: #b2324d;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: .75em;
        border: 0;
      }
      input[type=text]{
        width: 100%;
      }
      label{
        font-weight: normal;
        padding-left: 0.5em;
        width: 90%;
      }
    }
  }
}


#digibib_view{
  @extend .row;
  .digibib_widget{
    @extend .col-xs-12;
    @extend .col-sm-6;
    margin: 0;
    border: 0;
    .title{
      border-top: 5px solid $mina-blue;
      background: $mina-blue-light-1;
      a:link, a:visited{
        color: white;
      }
      img{
        padding-left: 5px;
      }
    }
    .body{
      .odd{
        background: $mina-blue-light-4 !important;
      }
      .even{
        background: $mina-blue-light-3 !important;
      }
    }
  }
}

.digibib_left{
  @extend .col-xs-12;
  @extend .col-md-9;
  border: 1px solid darken(white, 15);
  @include article-block-line-top($mina-blue);
  padding-top: 20px;
  table{
    border-collapse: separate;
    border-spacing: 10px 3px;
    margin-left: -10px;
  }
  .body{
    padding: 20px 0 10px 0;
  }
}
.digibib_right{
  @extend .col-xs-12;
  @extend .col-md-3;
  .digibib_widget{
    background: white;
    width: 100%;
    border: 0;
    border-top: 5px solid #86263a;
    padding: 0 15px 1px 15px;
    .title{
      color: #b2324d;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: .75em;
      background: transparent;
      padding: 0;
    }
    .body{
      margin-bottom: .75em;
    }
  }
}

.meeting_left{
  @extend .col-xs-12;
  @extend .col-md-9;
  border: 1px solid darken(white, 15);
  @include article-block-line-top($mina-blue);
  padding-top: 20px;
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 25px;
    tbody{
      tr{
        td{
          border-bottom: 1px solid #ddd;
        }
        &:last-child td{
          border-bottom: 0;
        }
      }
    }
  }
}
.meeting_right{
  @extend .col-xs-12;
  @extend .col-md-3;
}
.meeting_full{
  @extend .col-xs-12;
  table{
    width: 100%;
    thead tr{
      border-top: 5px solid $mina-blue;
      th{
        background: $mina-blue-light-1;
        color: white;
      }
    }
    tbody{
      tr.even{
        background: $mina-blue-light-3 !important;
      }
      tr.odd td{
        background: $mina-blue-light-4 !important;
      }
    }
  }
}

#portal-sitemap{
  > li{
    border: 1px solid darken(white, 15);
    @include article-block-line-top($mina-blue);
  }
  li {
    img{
      display: none;
    }
    a:link, a:visited{
      color: #333333 !important;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 15px;
      border: 0;
      background: none;
      padding: 0 !important;
    }
    li {
      a:link, a:visited{
        color: #333333 !important;
        margin-top: 0;
        text-transform: none;
      }
    }
  }
//  > li{
//    @extend .col-xs-12;
//    @extend .col-sm-6;
//  }
}


.pfg-form {
  input[type="text"], input[type="password"]{
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
  }
  textarea{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 12px;
    color: #555555;
  }
  label{
    margin-bottom: 0;
  }
  .required {
      margin-left: -7px;
  }
  .ArchetypesSelectionWidget, .ArchetypesBooleanWidget{
    label{
      margin-left: 5px;
      font-weight: normal;
    }
  }
  .ArchetypesMultiSelectionWidget{
    label{
      clear: both;
      width: 100%;
    }
  }
  .formControls{
    margin: 1em 0;
    input[type="submit"]{
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
