//
// Components
// --------------------------------------------------
//
// Components are project specific building blocks.


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

//
// Set smooth font rendering.
//

body{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

//
// Animate all links.
//

a {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; // Safari
}

//
// Button
//

.btn {
  font-weight: 500;
  i {
    margin-right: .4em;
  }
}

//
// Label
//
// Thema en type document label

p.label {
  font-weight: 500;
  color: $mina-label-blue !important;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 11.1px;
  span {
    margin-left: .5em;
  }
}

//
// (Text) selection color
//

$selection-color: $mina-blue-light-2;
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}


//
// Background image
//
// Vlaamse overheid background pattern.

body {
  background-color: $mina-bg-light-gray;
  background-image: url('img/background-pattern.png');
}

//
// Lead
//

.lead {
  font-family: $headings-font-family;
  font-weight: 400;
}

//
// List group
//
// Counter style BS. We don't want rounded corners. But can't set the var to 0
// because we want rounded corners on other elemenents (form field and buttons).

.list-group {
  .list-group-item {
    padding: 15px 20px;
    &:first-child, &:last-child {
      border-radius: 0;
    }
  }
}

.list-group-themes {
  border-top: 5px solid $mina-blue;
  a{
    font-size: 16px;
    font-weight: 500;
    color: $mina-blue-dark;
    &:hover, &:focus {
      color: white;
      background: $mina-blue;
    }
    img {
      @extend .img-circle;
      height: 28px;
      width: 28px;
      margin-right: .5em;
      display: block;
      float: left;
      margin-top: -3px;

    }
    i {
      font-size: 1.4em;
    }
  }
  .list-group-item {
    padding: 15px 20px 15px 17px;
  }
}


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
