.footer-flanders {
  .logo {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAbCAYAAACa9mScAAAEk0lE…0UagLskf5r8AlB1hUUOE5Mkd0aLTPQ2jq7yJq2/8QYADHfmEQMqqC8gAAAABJRU5ErkJggg==');
    position: absolute;
    left: 0;
    top: 0;
    height: 2.75em;
    width: 2.8125em;
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    background-position: 11px center;
  }
}


