// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

//
// Header
//
// The top section of the site. Repeats on every page.

//
// Topbar
//
// Holds links to other sites and the contact pull down.

.topbar {
  .sites {
    @extend .pull-left;
  }
  .contact {
    @extend .pull-right;
    .navbar-right {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .open .dropdown-menu:after{
      bottom: 100%;
      left: 75%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: white;
      border-width: 10px;
      margin-left: -10px;
    }
    .dropdown-menu {
      width: 260px;
      margin-top: 0;
      border: 10px solid $vlaanderen-dark-gray;
      border-top: 0;
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius:0;
      margin-left: -125px; // Pull the menu to left.
      li {
        border-bottom: 1px solid $mina-bg-light-gray;
      }
      a {
        width: 100%;
        &:hover, &:focus {
          h3 {
            color: $mina-blue;
          }
        }
      }
      h3 {
        font-size: 16px;
        color: $mina-blue-dark;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      i {
        float:right;
        font-size: 1.25em;
      }
    }
  }
  background: $vlaanderen-dark-gray;
  a {
    &:link, &:visited{
      font-size: 14px;
      line-height: 14px;
      font-family: $headings-font-family;
      font-weight: 500;
      color: $vlaanderen-link-color;
      text-decoration: none;
      padding: 15px 10px 13px 10px;
      display: inline-block;
    }
    &:hover, &:focus {
      color: $vlaanderen-link-color-hover;
    }
  }
}

//
// Logo bar
//
// Logo and search form.

.logobar {
  background: white;
  //height: 115px;
  .logo {
    &:after{
      clear: both;
      width: 100%;
      content: "";
      display: block;
    }
    a {
      height: 64px;
      img {
        width: 290px;
        height: 64px;
      }
    }
  }
  .navbar-brand {
    margin: 10px 0 5px 0;
    padding: 0;
  }
//  .search {
//    @extend .hidden-xs;
//  }
  button.navbar-toggle {
    background-color: $mina-blue-dark;
    top: 15px;
    padding: 13px 11px;
    margin-right: 10px;
    position: inherit;
    margin-bottom: 10px;
    border-radius: 0px;
    .icon-bar {
      display: block;
      background: white;
      width: 20px;
      height: 2px;
    }
  }
  button.btn-search{
    background-color: $mina-blue;
    color: white;
    height: 35px;
    width: 35px;
    margin-top: 7px;
    padding: 2px;
  }
  .search {
    display: none;
    background: $mina-green;
    margin: 0 -7px;
    padding: 15px 15px 0px 15px;
    @extend .pull-right;
    .input-group input.form-control {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    button {
      @extend .btn-primary;
    }
    label {
      font-weight: 300;
    }
    p{
      margin: 0;
    }
    .searchSection label{
      padding-left: 5px;
      color: white;
    }
  }
  .login_form{
    display: none;
  }
}

.ui-tooltip{
  right: 15px;
}

.ui-tooltip, .arrow:after {
  background: $mina-green;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 0;
  box-shadow: 0 0 7px black;
  font-weight: 600;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

//
// Navigation bar
//
// Global navigation aka main menu.

nav.navbar {
  border:0;
  font-family: $headings-font-family;
  font-size: 18px;
  .nav > li > a {
    padding: 10px 20px;
  }
  &.navbar-default {
    // The navbar in xs collapsed state is a thin line.
    min-height: 10px;
  }
}


// Alert message's
.alert{
  @extend .alert;
  font-size: 14px !important;
  .strong{
    font-weight: 700;
  }
  &.success{
    @extend .alert-success;
  }
  &.info{
    @extend .alert-info;
  }
  &.error{
    @extend .alert-danger;
  }
  &.warning{
    @extend .alert-warning;
  }
}


// Alert message's
#global_statusmessage{
  position: absolute;
  top: 20px;
  z-index: 999;
  width: 100%;
  .portalMessage{
    font-size: 14px;
    border: 0;
    color: inherit;
    background-color: transparent;
    margin: 0;
    clear: none;
    dt{
      background-color: transparent;
      font-weight: 700;
      color: inherit;
      margin: 0;
    }
    dd{
      background-color: transparent;
    }
  }
}

div#editbar-wrapper {
  padding-top: 5px !important;
}

#edit-bar, #content-views {
  margin-bottom: 7px !important;
}

dl.actionMenu {
  margin-bottom: 5px !important;
  margin-top: 5px;

}

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-xs-min) {

  .logobar {
    button.navbar-toggle {
      position: relative;
      margin-bottom: 3px;
    }
    .logo {
      &:after{
        display: none;
      }
    }
  }

}


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

  .logobar {
    height: 115px;
    .logo {
      a {
        height: 90px;
        img {
          width: 420px;
          height: 90px;
        }
      }
    }
    .search{
      margin: 2em 0 0 0;
      padding: 0;
      background: transparent;
      display: block !important;
      .searchSection label{
        color: #76797c;
      }
    }
    .navbar-brand {
      margin-top: 15px;
       padding: 0;
    }
    .login_form{
      clear: both;
      float: right;
      display: block;
      a{
        float: right;
        &:link, &:visited{
          color: #fff;
        }
      }
      p{
        margin: 10px 0;
        &:after{
          content: "";
          clear: both;
          width: 100%;
          display: block;
        }
      }
    }
  }

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
