//
// Sections
// --------------------------------------------------
//
// A section is a full width row, an area in a page that groups some items.
// A page can have multiple sections.


//
// General
//

.sec-header {
  h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 .5em 0;
  }
}

//
// Section
//
// - sec-default (transparent)
// - sec-dark (transparent gray)
//
// Note: We use the abbr `sec` instead of the full `section` to avoid clashing
// with Plone `section-...` body classes.

.sec {
  padding-bottom: 20px;
}

.sec-default {
  @extend .sec;
}

.sec-dark {
  @extend .sec;
  background: $mina-bg-gray;
}

//
// Columns
//
// We use default bootstrap columns. Here we define the grid behaviour
// for various sections.

.sec-home {
  @extend .sec-default;
  .column {
    @extend .col-xs-12, .col-sm-6, .col-md-3;
  }
}

.sec-related {
  @extend .sec-dark;
  .column {
    @extend .col-xs-12, .col-sm-6, .col-md-3;
  }
}

.sec-themes {
  @extend .sec-default;
}


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

  .sec-header {
    h2 {
      font-size: 18px;
    }
  }

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

  .sec-header {
    h2 {
      font-size: 18px;
    }
  }


}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

  .sec-header {
    h2 {
      font-size: 18px;
    }
  }

}
