//
// Sections
// --------------------------------------------------
//
// Styling for:
//
//  - Section (rows)
//  - Columns
//  - Articles (aka documents aka blocks)
//


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

//
// General
//

.sec-header {
  h2 {
    font-size: 18px;
    font-weight: 500;
    padding: .5em 0;
  }
}


//
// Section
//
// A section is a full width row:
//
// - sec-default (transparent)
// - sec-dark (transparent gray)
//
// Note: We use the abbr `sec` instead of the full `section` to avoid clashing
// with Plone `section-...` body classes.

.sec {
  padding-bottom: 20px;
}

.sec-default {
  @extend .sec;
}

.sec-dark {
  @extend .sec;
  background: $mina-bg-gray;
}

//
// Columns
//
// We use default bootstrap columns. Here we define the grid behaviour
// for various sections.

.sec-home {
  @extend .sec-default;
  .column {
    @extend .col-xs-12, .col-sm-6, .col-md-3;
  }
}

.sec-related {
  @extend .sec-dark;
  .column {
    @extend .col-xs-12, .col-sm-6, .col-md-3;
  }
}


//
// Articles
//
// Article styling of block elements. The whole block is a link and
// points to the articles detail page.

// TODO: diffrent naming for 'link blocks' and 'detail-views'.

.article-default {
  background: white;
  margin-bottom: 15px;
  img {
    @extend .img-responsive;
    width: 100%;
  }
  .body {
    padding: 15px 20px 6px;
  }
  h3 {
    font-size: 18px;
    margin-top: 0;
  }
  > a {
    display: block;
  }
  a {
    p {
      color: $text-color;
      text-decoration: none;
    }
    &:hover, &:focus {
      text-decoration: none;
      h3 {
        //text-decoration: underline;
      }
      p {
        color: $link-hover-color;
      }
    }
  }
}

.article-advice {
  @extend .article-default;
  .body {
    border: 1px solid darken(white, 15);
    border-top: 0;
  }
  a {
    &:hover, &:focus {
      h3 {
        text-decoration: underline;
      }
    }
  }
}

.article-event {
  @extend .article-default;
  background: $mina-green-light-4;
  header {
    text-transform: uppercase;
    background: $mina-green;
    color: white;
    padding: 11px 10px 10px 13px;
    h3, time {
      margin: 0;
      font-size: 16px;
      i {
        display: block;
        float: left;
        height: 1.1em;
        margin-right: .4em;
      }
    }
  }
  .body {
    h3, time {
      color: $mina-green-dark;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}

.article-next-meeting {
  @extend .article-event;
  background: $mina-red-light-bg;
  header {
    background: $mina-red;
  }
  .body {
    time {
      color: $mina-red;
      display: block;
    }
  }
}

// jaarwerking
.article-vision {
  @extend .article-event;
  background: $mina-blue-light-4;
  header {
    background: $mina-blue;
  }
  .body {
    overflow: hidden;
    time {
      color: $mina-blue;
      display: block;
    }
  }
}

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

  .sec-header {
    h2 {
      font-size: 20px;
    }
  }

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

  .sec-header {
    h2 {
      font-size: 22px;
    }
  }


}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

  .sec-header {
    h2 {
      font-size: 24px;
    }
  }

}
