//
// Main
// --------------------------------------------------
//
// Combining custom bootstrap and partials to one file.

//
// Fonts
//
$roboto-font-path: 'roboto' !default;
@import "../bower_components/roboto-fontface/css/roboto-fontface.scss";

$flanders-font-path: 'flanders' !default;
@import "../fonts/flanders/flanders.scss";

// Set asset path
$bootstrap-sass-asset-helper: "bootstrap-sass-official/assets/";

// Custom bootstrap.
@import "custom_bootstrap/variables";
@import "custom_bootstrap/bootstrap";

// Fontawesome.
$fa-font-path:        "fontawesome/fonts" !default;
@import "../bower_components/fontawesome/scss/font-awesome.scss";

// Header and footer styling.
@import 'partials/header';
@import 'partials/breadcrumb';
@import 'partials/footer';
@import 'partials/footer_flanders';

// Form styling.
@import 'partials/forms';

// Components are project specific building blocks.
@import 'partials/components';

// Section styling
@import 'partials/sections';

// Jumbotron styling
@import 'partials/jumbotron';

// Page styling.
@import 'partials/plone_edit_form';

// Portlet styling.
@import 'partials/portlets';

