//
// Plone User Interface
//
// When the Plone UI elemets are copied by Diazo rules into the theme,
// then the theme styling also styles the Plone UI elements (editbar etc)
// Here we counter style UI elements back to their Plone look.
//

#editbar-wrapper {
  padding-top: 15px;
  padding-bottom: 0;
}

#edit-bar {
  line-height: 26px;
  font-size: 100% !important;
  font-family: Arial, FreeSans, sans-serif;
  a {
    transition-duration: 0s;
    -webkit-transition-duration: 0s; // Safari
  }
}

#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#content-core li.formTab a.selected,
#content-core li.formTab a:hover
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

//#breadcrumbs-current{
//  color: $breadcrumb-active-color;
//}

// Hide the spinner.
#pyproxy_spinner {
  display:none;
}

#content-views,
#contentActionMenus,
#editbar-wrapper,
#edit-bar,
.actionMenuContent,
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background: #0F475C !important;
  border-color: #0F475C !important;
}


ul#contentActionMenus ul li a {
    padding: 4px;
}

#contentActionMenus {
  margin-top: 5px;
}

div#folderHeader, div#contextHeader {
  span {
    font-weight: bold;
  }
}


#sharing-search-button {
  @extend .btn-xs;
}

.template-folder_contents table {
  margin-bottom: 1em;
}

dd.actionMenuContent {
    margin-top: 10px;
}

dl.actionMenu.activated dd {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
}

#contentActionMenus dl.actionMenu.activated dt a {
  background: darken($mina-blue-dark, 5);
}

.actionMenuContent {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.template-subscribers_config-html,
.template-minaraad_service,
.template-export_statistics,
.template-atct_edit,
.template-base_edit, 
.template-folder_contents,
.template-sharing,
.template-login_form,
.template-login_success,
.template-versions_history_form{
  font-family: Arial, Helvetica, sans-serif;
  #content {
    background:white;
    padding: 30px;
    //
    // Form tabs
    //
    ul.formTabs,
    ul.formTabs {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
    }

    //
    // Buttons
    //
    [type='submit'], [type='button'] {
      color: #fff;
      background-color: #2e94bd;
      border-color: #2984a8;
      margin-right: 5px;
    }

    input[value='Annuleren'], input[type='file'] {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
  }
}

nav ul{
  margin: 0 !important;
  li{
    list-style: none;
  }
}

* li{
  display: list-item;
}

#edit-bar{
  li{
    display: inline;
  }
}

.article-theme-bodytext ul{
  list-style: inherit;
  padding-left: 2em;
}

.photoAlbumEntry {
  background-image: none;
  background: white;
  margin-bottom: 5px;
  padding-bottom: 1em;
  margin-right: 5px;
  border: 1px solid #ccc;
  height: auto;
  text-align: left;
  width: 100%;
  .photoAlbumEntryTitle {
    height: auto;
  }
  a {
    height: auto;
  }
}

#content .pullquote, .portletStaticText .pullquote{
  width: auto;
}


// Homepage fix columns width, this doesnt work really nice with the @extend .row since all the @extend classes with .row also triggers this
// .template-homepage div.row, .template-homepage div.masonry-documents, .template-homepage div#digibib_view, .template-homepage .images div.thumbnails, .images .template-homepage div.thumbnails
// It doesnt break anything it just doesnt look correct...
.template-homepage div.row{
  width: initial;
}

#atrb_relatedItems {
  position: absolute !important;
}


/* Fix TinyMCE overlay */
body#plonebrowser{
  #content{
    .row{
      margin: 0;
    }
    &.dialog-wrapper{
      font-size: 100%;
    }
    #internallinkcontainer{
      padding-bottom: 10px;
      height: auto;
      min-height: 310px;
    }
    .formHelp{
      font-size: 12px;
      padding: 5px;
    }
    #footer{
      background: white;
      position: relative;
    }
  }
}


.toc{
  h2, ul{
    display: none;
  }
  #document-toc{
    width: 100%;
    left: 0;
    float: none;
    dt{
      color: #b2324d;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      margin-top: .75em;
      margin-bottom: 10px;
      background: transparent;
    }
    dd{
      padding: 0;
      ol{
        margin: 0;
        list-style: none;
        li a{
          padding: 3px;
          font-size: 14px;
          display: block;
          &:hover{
            background: #fbeaed;
          }
          &:before{
            float: none;
          }
        }
      }
    }
  }
}