//
// Plone User Interface
//
// When the Plone UI elemets are copied by Diazo rules into the theme,
// then the theme styling also styles the Plone UI elements (editbar etc)
// Here we counter style UI elements back to their Plone look.
//

#editbar-wrapper {
  padding-top: 15px;
  padding-bottom: 0;
}

#edit-bar {
  line-height: 26px;
  font-size: 100%;
  font-family: Arial, FreeSans, sans-serif;
  a {
    transition-duration: 0s;
    -webkit-transition-duration: 0s; // Safari
  }
}

#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#content-core li.formTab a.selected,
#content-core li.formTab a:hover
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

//#breadcrumbs-current{
//  color: $breadcrumb-active-color;
//}

// Hide the spinner.
#pyproxy_spinner {
  display:none;
}

#content-views,
#contentActionMenus,
#editbar-wrapper,
#edit-bar,
.actionMenuContent,
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background: #0F475C;
  border-color: #0F475C;
}


ul#contentActionMenus ul li a {
    padding: 4px;
}

#contentActionMenus {
  margin-top: 5px;
}

div#folderHeader, div#contextHeader {
  span {
    font-weight: bold;
  }
}


#sharing-search-button {
  @extend .btn-xs;
}

.template-folder_contents table {
  margin-bottom: 1em;
}

dd.actionMenuContent {
    margin-top: 10px;
}

dl.actionMenu.activated dd {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
}

#contentActionMenus dl.actionMenu.activated dt a {
  background: darken($mina-blue-dark, 5);
}

.actionMenuContent {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#plone_edit_form {
  //
  // Basics
  //
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  #content {
    background:white;
    padding: 30px;
  }
  //
  // Form tabs
  //
  #content ul.formTabs,
  #content-core ul.formTabs {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
  }

  //
  // Buttons
  //
  [type='submit'], [type='button'] {
    @extend .btn;
    @extend .btn-primary;
    margin-right: 5px;
  }

  input[value='Annuleren'], input[type='file'] {
    @extend .btn;
    @extend .btn-default;

  }

}

.faceted-column li, .footer-doormat ul > li, .configlets li{
  display: list-item;
}

.photoAlbumEntry {
  background-image: none;
  background: white;
  margin-bottom: 5px;
  padding-bottom: 1em;
  margin-right: 5px;
  border: 1px solid #ccc;
  height: auto;
  text-align: left;
  .photoAlbumEntryTitle {
    height: auto;
  }
  a {
    height: auto;
  }
}

// Sunburst columns.css
div.row {
 width: auto;
}