*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.eggs
.installed.cfg
.mr.developer.cfg
bin
build
buildout.cfg
develop-eggs
dist
downloads
eggs
local.cfg
node_modules
parts
scripts/passwords.py
var
src/collective.mailchimp
