*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.eggs
.installed.cfg
.mr.developer.cfg
.idea/
.Python
bin
lib
include
build
buildout.cfg
develop-eggs
dist
downloads
eggs
local
local.cfg
node_modules
parts
pip-selfcheck.json
scripts/passwords.py
share
src/collective.mailchimp
src/eea.facetednavigation
src/plone.app.imagecropping
src/plone.app.upgrade
src/plone.scale
src/Products.SimpleAttachment
var
