[buildout]
extends =
    devel.cfg

parts -=
    postgresinit

[conf]
# Blob storage via NFS:
blob_storage = /home/zope/minaraad-blobs

# Sizes
memmonlimit = 1300MB

# You should set Proxy Cache Domains manually in the
# portal_cache_settings in the Plone UI and set them up to allow
# purging the varnish cache with the following setting.  You must add
# a semicolon at the end of each line.
varnish_purge_hosts =
    "127.0.0.1";
    "plone-minaraad-on-1.mmis.be";
    "plone-minaraad-on-2.mmis.be";
#    "192.168.76.0"/24;

#    "plone-minaraad-on-1-mgt.mmis.be";
#    "plone-minaraad-on-2-mgt.mmis.be";
#    "172.16.76.0"/24;


[postgresconf]
dbname = minaraad_ontwikkel
host = postgres-ontwikkel-76
password = secret
port = 5509
