[buildout]
extends =
    base.cfg
    relstorage.cfg

parts +=
    crontab-start
    crontab-restart
#    crontab-pack
    crontab-projects-reminder
    logrotate.conf


[conf]
# Schedules
pack-time = 30 2 * * 6
projects-reminder-time = 0 10 * * Tue,Thu

# Debugging
debug = off

# You should set Proxy Cache Domains manually in the
# portal_cache_settings in the Plone UI and set them up to allow
# purging the varnish cache with the following setting.  You must add
# a semicolon at the end of each line.
varnish_purge_hosts =
    "127.0.0.1";
    "plone-minaraad-pr-1.mmis.be";
    "plone-minaraad-pr-2.mmis.be";
#    "192.168.74.0"/24;

#    "plone-minaraad-pr-1-mgt.mmis.be";
#    "plone-minaraad-pr-2-mgt.mmis.be";
#    "172.16.74.0"/24;


[postgresconf]
dbname = minaraad_productie
host = postgres-productie-74
# password = secret
port = 5509
