minaraad/theme/diazo_resources/static/editor.css -diff
minaraad/theme/diazo_resources/static/editor.css.map -diff
minaraad/theme/diazo_resources/static/main.css -diff
minaraad/theme/diazo_resources/static/main.css.map -diff
minaraad/theme/diazo_resources/static/main.js -diff